@model IEnumerable<PBlog.DomainEntities.Article>

<div class="container-lg py-4">
    <div class="border rounded-3 p-4" style="font-family: 'Comic Neue', cursive; border-width: 2px; border-style: solid;">
        <h2 class="fw-bold mb-4">Personal Blog</h2>
        <ul class="list-unstyled">
            @foreach (var article in Model)
            {
                <li class="d-flex justify-content-between align-items-center mb-2">
                    <a href="@Url.Action("Detail", "Home", new { id = article.Id })" class="text-dark fw-semibold text-decoration-none">
                        @article.Title
                    </a>
                    <span class="text-secondary small">
                        @article.PublishDate.ToString("MMMM d, yyyy")
                    </span>
                </li>
            }
        </ul>
    </div>
</div>